.navbar{
    background-color: black !important;
}
.dot {
    width: 9px;
    height: 9px;
    background-color: #fcb700;
    border-radius: 50%;
    display: inline-block;
}
th{
    font-size: 12px;
}
.icon1{
    font-size: 25px;
    margin-left: 5px;
    display: flex;
}
.timeago{
    letter-spacing: 1.2px;
    color: #747474;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.headline{
    font-size: 15px;
}
.summary{
    font-size: 15px;
}
.orig-article-link{
    font-size: 13px;
}
.magnitude-span{
    width: 30px;
}
.sentiment{
    float: right;
}
.market-label{
    font-size: 12px;
    font-weight: bold;
}
